.logo {
    height: 70px;
}

.additionalInfoLink{
    text-decoration: none;
}

.additionalInfoList{
    list-style: none;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 1;
    width: 100%;
  }


  .content {
    position: fixed;
    bottom: 1;
    color: #0f0101;
    width: 100%;

  }

#tron {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#feet {

    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;

  }

  .btn-primary {
    padding-bottom: 10px;
  }




  #test1 {
    background-color:black;
    opacity: .8;
    color: rgb(7, 5, 5);
  }

 

  #test2 {
    color: white;
  }

  #test3 {
    color: white;
  }

  #indexBox {
    justify-content: center;
  }